@import com.mohiva.play.silhouette.api.actions.UserAwareRequest
@import silhouette.CookieEnv
@import helper._

@(category_form: Form[CategoryRegister])(implicit request: UserAwareRequest[CookieEnv, AnyContent], messages: MessagesProvider)
@implicitFieldConstructor = @{ FieldConstructor(bulmaInput.render) }

@template.template("カテゴリ登録") {
    @template.breadcrumb(List(
        "Home" -> routes.Home.index().url,
        "Category List" -> routes.Category.index().url,
        "New" -> routes.Category.registerIndex().url,
    ))
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <div class="box">
                @form(routes.Category.register()) {
                    @CSRF.formField
                    <div class="field">
                        <p class="control has-icons-left">
                            @inputText(category_form("name"), '_type -> "text", 'placeholder -> "名前")
                            <span class="icon is-small is-left">
                                <i class="fa fa-thumb-tack"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            @inputText(category_form("memo"), '_type -> "text", 'placeholder -> "メモ")
                            <span class="icon is-small is-left">
                                <i class="fa fa-paperclip"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            @inputText(category_form("color"), '_type -> "text", 'placeholder -> "色", '_id -> "color-picker-input")
                            <span class="icon is-small is-left">
                                <i class="fa fa-eye"></i>
                            </span>
                        </p>
                    </div>
                    <div id="color-picker-box" class="box">
                        <div id="color-picker"></div>
                    </div>
                    <button class="button is-link">Submit</button>
                }
            </div>
        </div>
    </div>

    <script>
        const color_picker_dom = document.getElementById("color-picker-input")
        const color_picker = document.getElementById("color-picker")
        const color_picker_box = document.getElementById("color-picker-box")
        const picker = AColorPicker.createPicker({
            attachTo: 'div#color-picker',
            showHSL: false,
            showRGB: false,
            showHEX: false
        })

        picker.onchange = (p) => {
            const color = p.color
            color_picker_dom.style.backgroundColor = color
            color_picker_dom.value = color
        }

        color_picker_dom.addEventListener("change", () => {
            if (color_picker_dom.value !== picker.color) {
                picker.color = color_picker_dom.value
            }
        })

        color_picker_dom.addEventListener("focus", (e) => {
            color_picker_box.style.display = ""
        })

        color_picker.addEventListener("touchmove", (e) => {
            e.preventDefault()
        })
    </script>

    <style>
        #color-picker-box {
            position: absolute;
            transform: translate(25vw, 0);
            display: none;
        }
    </style>
}
