@import com.mohiva.play.silhouette.api.actions.UserAwareRequest
@import silhouette.CookieEnv

@(category: models.Category)(implicit request: UserAwareRequest[CookieEnv, AnyContent])

@template.template("カテゴリ詳細") {
    @template.breadcrumb(List(
        "Home" -> routes.Home.index().url,
        "Category List" -> routes.Category.index().url,
        category.name -> routes.Category.show(category.id).url
    ))
    <div class="columns">
        <div class="column">
            <div class="content">
                <h2>memo</h2>
                <p>@category.memo</p>

                <h2></h2>
                <table>
                    <thead>
                        <tr>
                            <th style="width: 20%;">Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Three</td>
                            <td>Four</td>
                        </tr>
                        <tr>
                            <td>Five</td>
                            <td>Six</td>
                        </tr>
                        <tr>
                            <td>Seven</td>
                            <td>Eight</td>
                        </tr>
                        <tr>
                            <td>Nine</td>
                            <td>Ten</td>
                        </tr>
                        <tr>
                            <td>Eleven</td>
                            <td>Twelve</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}