@import com.mohiva.play.silhouette.api.actions.UserAwareRequest
@import silhouette.CookieEnv
@import helper._

@(category: models.Category)(implicit request: UserAwareRequest[CookieEnv, AnyContent])

@template.template("カテゴリ詳細") {
    @template.breadcrumb(List(
        "Home" -> routes.Home.index().url,
        "Category List" -> routes.Category.index().url,
        category.name -> routes.Category.show(category.id).url
    ))
    <div class="columns">
        <div class="column">
            <div class="box">
                <div class="content">
                    <h2>memo</h2>
                    <p>@category.memo</p>

                    <h2></h2>
                    @form(routes.Category.remove(category.id)) {
                        @CSRF.formField
                        <button type="submit" class="button is-danger">削除</button>
                    }
                </div>
            </div>
        </div>
    </div>
}