@(message: String, notification_type: String = "danger")

<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <div class="notification is-@notification_type">
            <button class="delete"></button>
            @message
        </div>
    </div>
</div>

<script>
    const deleteButton = document.getElementsByClassName("delete");
    for (let i = 0; i < deleteButton.length; i++) {
        deleteButton[i].addEventListener("click", (e) => {
            const parent = e.target.parentNode;
            parent.parentNode.removeChild(parent);
        });
    }
</script>