@(active: String = "home")

<div id="side-menu" class="column is-one-fifth">
    <aside class="menu box">
        <p class="menu-label">General</p>
        <ul class="menu-list">
            <li><a id="home" href="@routes.Home.index()">Home</a></li>
        </ul>
        <ul class="menu-list">
            <li><a id="detail" href="@routes.Detail.index()">Detail</a></li>
        </ul>
        <p class="menu-label">Settings</p>
        <ul class="menu-list">
            <li><a id="scenario" href="@routes.Scenario.index()">Scenario</a></li>
        </ul>
        <ul class="menu-list">
            <li><a id="category" href="@routes.Category.index()">Category</a></li>
        </ul>
    </aside>
</div>

<script>
    document.getElementById("@active").classList.add("is-active")
</script>

<style>
    @@media screen and (max-width: 769px) {
        #side-menu {
            display: none;
        }
    }
</style>