@import com.mohiva.play.silhouette.api.actions.UserAwareRequest
@import silhouette.CookieEnv

@()(implicit request: UserAwareRequest[CookieEnv, AnyContent])

@helper.javascriptRouter("route")(
    routes.javascript.Aggregate.dateRange,
    routes.javascript.Detail.show
)

@template.template("詳細一覧") {
    @template.breadcrumb(List(
        "Home" -> routes.Home.index().url,
        "Detail List" -> routes.Detail.index().url,
    ))
    <div class="columns">
        @template.sidemenu("detail")
        <div class="column">
            <div class="box">
                @template.flatpickr("calendar", "range")
                <div id="app">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Detail Count</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Sum</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="data in range_data">
                                <td><a :href="data.date">{{ data.date }}</a></td>
                                <td>{{ data.count }}</td>
                                <td>{{ data.min }}円</td>
                                <td>{{ data.max }}円</td>
                                <td>{{ data.sum }}円</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        const vue = new Vue({
            el: "#app",
            data: {
                range_data: []
            }
        })

        const createDate = (date) => {
            return `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate() + 1}`
        }

        const calendar_dom = document.getElementById("calendar")
        const flatpickr = calendar_dom._flatpickr
        calendar_dom.addEventListener("change", (e) => {
            const dates = flatpickr.selectedDates
            if (dates.length === 2) {
                getDataRange(`${createDate(dates[0])}`, `${createDate(dates[1])}`)
            }
        })
        const date = flatpickr.selectedDates
        const getDataRange = (start, end) => {
            fetch(route.controllers.Aggregate.dateRange(start, end).url, {
                credentials: 'include'
            }).then((res) => {
                return res.json()
            }).then((json) => {
                vue.range_data = json
            })
        }
        getDataRange(`${createDate(date[0])}`, `${createDate(date[1])}`)
    </script>
}