@import com.mohiva.play.silhouette.api.actions.UserAwareRequest
@import silhouette.CookieEnv

@()(implicit request: UserAwareRequest[CookieEnv, AnyContent])

@helper.javascriptRouter("route")(
    routes.javascript.Aggregate.dateRange,
    routes.javascript.Detail.show
)

@template.template("詳細一覧") {
    @template.breadcrumb(List(
        "Home" -> routes.Home.index().url,
        "Detail List" -> routes.Detail.index().url,
    ))
    <div class="columns">
        @template.sidemenu("detail")
        <div class="column">
            <div class="box">
                @template.flatpickr("calendar", "range")
                <div id="app">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Detail Count</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Sum</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="data in range_data">
                                <td><a :href="data.url">{{ data.date }}</a></td>
                                <td>{{ data.count }}</td>
                                <td>{{ data.min }}円</td>
                                <td>{{ data.max }}円</td>
                                <td>{{ data.sum }}円</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        const vue = new Vue({
            el: "#app",
            data: {
                range_data: []
            }
        })

        const createDate = (date) => {
            const year = date.getFullYear()
            const month = String(date.getMonth() + 1)
            const day = String(date.getDate() + 1)
            const f = (d) => {
                return `0${d}`
            }
            return `${year}-${month.replace(/^\d$/, f)}-${day.replace(/^\d$/, f)}`
        }

        const calendar_dom = document.getElementById("calendar")
        const flatpickr = calendar_dom._flatpickr
        calendar_dom.addEventListener("change", (e) => {
            const dates = flatpickr.selectedDates
            if (dates.length === 2) {
                getDataRange(`${createDate(dates[0])}`, `${createDate(dates[1])}`)
            }
        })
        const date = flatpickr.selectedDates
        const getDataRange = (start, end) => {
            fetch(route.controllers.Aggregate.dateRange(start, end).url, {
                credentials: 'include'
            }).then((res) => {
                return res.json()
            }).then((json) => {
                const children = flatpickr.days.children
                let result = []
                for (let i in flatpickr.days.children) {
                    const c = children[i]
                    if (!c.classList) {
                        continue
                    }

                    if (c.classList.contains("startRange") || c.classList.contains("inRange") || c.classList.contains("endRange")) {
                        const data = {
                            url: route.controllers.Detail.show(createDate(c.dateObj)).url,
                            date: createDate(c.dateObj),
                            count: 0,
                            min: 0,
                            max: 0,
                            sum: 0
                        }

                        if (Object.keys(json).length) {
                            const json_data =  json.find(d => {return d.date === date})
                            if (json_data) {
                                data.count = json_data.count
                                data.min = json_data.min
                                data.max = json_data.max
                                data.sum = json_data.sum
                            }
                        }
                        result.push(data)
                    }
                }
                vue.range_data = result
            })
        }
        getDataRange(`${createDate(date[0])}`, `${createDate(date[1])}`)
    </script>
}