@import com.mohiva.play.silhouette.api.actions.UserAwareRequest
@import silhouette.CookieEnv

@(list: Seq[models.Scenario])(implicit request: UserAwareRequest[CookieEnv, AnyContent])

@template.template("シナリオ一覧") {
    @template.breadcrumb(List(
        "Home" -> routes.Home.index().url,
        "Scenario" -> routes.Scenario.index().url
    ))

    <div class="columns">
        @template.sidemenu("scenario")
        <div class="column">
            <div class="box">
                <p class="title is-4" style="float: left;">Scenario List</p>
                <a class="button is-primary is-small" style="float: right;" href="@routes.Scenario.registerIndex()">登録</a>
                @for(scenario <- list) {
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                @scenario.name
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="tags">
                                @scenario.status match {
                                    case ScenarioStatus.Stop => {
                                        <span class="tag is-light">Stop</span>
                                    }
                                    case ScenarioStatus.Running => {
                                        <span class="tag is-success">Run</span>
                                    }
                                    case ScenarioStatus.Error => {
                                        <span class="tag is-danger">Error</span>
                                    }
                                }
                            </div>
                            <div class="content">
                                @scenario.description
                            </div>
                        </div>
                        <footer class="card-footer">
                            @scenario.status match {
                                case ScenarioStatus.Running | ScenarioStatus.Error => {
                                    <a href="#" class="card-footer-item">Stop</a>
                                }
                                case ScenarioStatus.Stop => {
                                    <a href="#" class="card-footer-item">Run</a>
                                }
                            }
                            <a href="@routes.Scenario.edit(scenario.id)" class="card-footer-item">Edit</a>
                            <a href="#" class="card-footer-item">Delete</a>
                        </footer>
                    </div>
                }
            </div>
        </div>
    </div>

    <style scoped>
        .card {
            margin-bottom: 10px;
            clear: both;
        }

        .media-content {
            overflow-y: hidden;
        }

        .tags {
            margin-bottom: 0 !important;
        }
    </style>
}